* {
    margin: 0;
    padding: 0;
    border-radius: 32px;
}

/* div#img{
    background-position: right, right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
} */
h1, h2 {
    margin-top: 25px;
}
p{
    margin: 15px;
}
ul {
    margin: auto;
    list-style: none;
}

li{
    padding: 10px;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

main {
    padding: 15px;
}

img {
    display: inline-block;
    max-width: 120px;
    border-radius: 360px;
    margin: auto;
    margin-bottom: 25px;
}

section {
    margin: auto;
    padding: 25px;
    justify-content: center;
    text-align: center;
    max-width: 500px;
}

.intro {
    display: flex;
    padding: auto;
    margin: auto;
    max-width: 380px;
}

section#cursando {
    margin-top: 15px;
}

.fogaça {
    background-image: url("fdMain.png");
}

#Grasshopper {
    background-image: url("Grasshopper.png");
    color: rgb(255, 255, 255);
    font-size: larger;
}

#DigitalInnovationOne {
    background-image: url("dioMe.png");
}

#cabechalho {
    display: flex;
}

picture img {
    display: block;
}

picture#picturePerfil {
    margin: 15px;
}

picture#pfandlogocode img {
    max-width: 50px;
    margin: auto;
}

picture#pfandlogocode {
    display: flex;
}

article#primeiro {
    font-size: xx-large;
    font-family: cursive;
    width: 100%;
}

article {
    justify-content: space-around;
}

footer {
    display: flex;
    background-color: rgba(1, 40, 170, 0.185);
    padding: 10px;
    padding-bottom: 80px;
}

.footer {
    margin: auto;
}

footer a {
    line-height: none;
    color: white;
}

picture#links {
    display: flex;
}

picture#links img {
    width: 35px;
}

footer>article {
    background-color: rgba(0, 0, 0, 0.432);
}