* {
    margin: 0;
    padding: 0;
    border-radius: 32px;
}

ul {
    list-style: none;
}

h1 {
    font-size: larger;
    max-width: 600px;
    padding: 5px;
    margin: 10px;
}

p {
    max-width: 600px;
    padding: 5px;
    text-align: center;
        font-size: larger;
}

body {
    /* background-image: url('fdmain01.png'); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

main {
    padding: 25px;
}

img {
    display: inline-block;
    max-width: 120px;
    border-radius: 360px;
    margin: auto;
    margin-bottom: 25px;
}

img {
    border-radius: 360px;
    max-width: 100px;
    margin: 5px;
}

section {
    margin: auto;
    margin-bottom: 250px;
    max-width: 1000px;
    min-height: 900px;
    font-family: monospace;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.336);
}

section#cursando {
    margin-top: 15px;
}

.forMain {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#forMain {
    background-image: url("fdMain.png");
}

#Grasshopper {
    background-image: url("Grasshopper.png");
    padding: 15px;
    color: peachpuff;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.247);
}

#DigitalInnovationOne {
    background-image: url("dioMe.png");
}

#cabechalho {
    display: flex;
}

picture#picturePerfil {
    margin: 15px;
}

article#primeiro {
    font-size: xx-large;
    font-family: cursive;
    width: 100%;
}

article {
    justify-content: space-around;
}

footer {
    text-align: center;
    background-color: rgba(1, 40, 170, 0.185);
    padding: 10px;
    padding-bottom: 80px;
}

.footer{
    margin: auto;
    max-width: 450px;
}

footer a {
    line-height: none;
    color: white;
}

picture#links img {
    width: 35px;
}

footer>article {
    background-color: rgba(0, 0, 0, 0.432);
}